* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background: rgb(255,223,223);
    background: linear-gradient(90deg, rgba(255,223,223,1) 0%, rgba(248,248,255,1) 17%, rgba(251,245,245,1) 35%, rgba(255,248,250,1) 55%, rgba(255,250,240,1) 91%, rgba(230,230,250,1) 100%); 
}

.container {
  height: 1218;
  width: 563;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ft-number, #snd-numbr {
  height: 1rem;
  width: 200px;
  margin: 10px;
  margin-top: 30px;
  position: relative;
  padding: 2rem;
}

#num1, #num2 {
  height: 2.5rem;
  margin: 30px;
  align-items: center;
}

.div-2 {
    height: 40px;
    display: flex;
    margin: 80px;
    position: relative;
     
}


.higher__container {
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    color: #DC143C ;
}

body,
    html {
      width: 100%;
      margin: 0;
      padding: 0;
      font-family: 'Open Sans', sans-serif;
      overflow-x: hidden;
    }

    input[type=button] {

      appearance: button;
      backface-visibility: hidden;
      background-color: F8F8FF;
      border-radius: 6px;
      border-width: 0;
      box-shadow: #8B0000 0 0 0 1px inset, #DC143C 0 2px 5px 0, #B22222 0 1px 1px 0;
      box-sizing: border-box;
      color: #DC143C;
      cursor: pointer;
      font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
      font-size: 100%;
      height: 44px;
      line-height: 1.15;
      margin: 12px 0 0;
      outline: none;
      overflow: hidden;
      position: relative;
      text-align: center;
      text-transform: none;
      transform: translateZ(0);
      transition: all .2s, box-shadow .08s ease-in;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: 150px;
      display: block;
      margin: 20px auto;
    }

    input[type=button]:disabled {
      cursor: default;
    }

    input[type=button]:focus {
      box-shadow: #8B0000 0 0 0 1px inset, #B22222 0 6px 15px 0, #DC143C 0 2px 2px 0,rgba(100, 50, 100, .5) 0 0 0 4px;
    }

    input[type=button]:active,
    input[type=button]:hover {
      background-color: transparent;
      color: #DC143C;
    }

    .div-4 {
      display: block;
      margin: 0 auto;
      width: 80%;
    }

    #resultado {

      text-indent: 20px;
      margin: 30px;
      text-align: center;
      font-size: 150px;
      font-weight: bold;
      color: transparent;
      -webkit-background-clip: text; 
      background-color: #8B0000;
      background-clip: text;
      background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
     hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
     hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
     hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
     hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
     hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px
  ),
     repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
    hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
    hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
    hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
    hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
    hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px
);

    }

    .title-1 {
      margin-top: 10px;
      width: 100%;
      text-align: center;
      color: transparent;
      -webkit-background-clip: text; 
      background-color: #8B0000;
       background-clip: text;
      background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
     hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
     hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
     hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
     hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
     hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px
  ),
    repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
    hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
    hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
    hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
    hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
    hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px
);
    }

    .div-1 {
      padding: 20px;
      max-width: 100%;
      height: 100%;
    }

    fieldset {
      border: 1px solid #B22222;
      padding: 1em;
      margin: 0;
      margin-top: 30px;
    }

    fieldset legend {
      padding: 0;
      margin: 0;
      font-size: 16px;
      color: #8B0000;
    }

    .div-3 {
      height: 40px;
      display: block;
      margin: 10px auto;
      position: relative;
    }

    input[type=number],
    select {
      position: absolute;
      bottom: 0px;
      width: 80%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #8B0000;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 20px;
    }

    label {
      height: 40px;
      line-height: 20px;
      width: 20%;
      float: left;
      color: #DC143C;
      text-align: center;

    }
